body {
  background-image: url("./images/background11.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
  background-position: center; /* Center the image */
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
}
main {
	margin-top: -30px;
}
.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
  width: 12rem;
  height: 5rem;
}

.content {
	background-color:  #8c8c8c;
	width: 35%;
	margin: auto;
	padding: 3rem;
	border-radius: .7rem;
	min-height: 100VH;
}

.text_header {
	font-size: 20px;
	text-align: center;
}

.text {
	color: #fff;
}

.textB {
  font-size: 20px
}

.textA {
	text-align: center;
}

.footer {
   position: fixed;
   bottom: -5px;
   left: 32.5%;
   height: 55px;
   background-color: #fff;
   width: 35%;
}

.giga {
 color: #993d00;
 font-size: 22px;
}

.social_media_handles {
	margin: -5px 0 0 -30px;
	border: 1px solid #808080;
	border-radius: 10px;
	padding: 10px 10px 0 0;
}

.social_media_handlesp {
	color: #fff;
	font-size: 18px;

}

.social_media_handles ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.social_media_handles ul  i {
	font-size: 45px;
	color: #ffad33;
}
.promo_div {
  border-left: 5px solid #99bbff;
}
.promo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.7rem;
	padding: 0 10px 0 10px;
}

.promo p {
	padding-top: 10px;
	font-size: 20px;
	color: #fff;
	margin-top: 10px
}

.net {
  color:  #cc5200;
  font-size: 22px;
}

        .btnDiv {
        	flex-direction: column;
        	display: flex;
        	align-items: center;

        }

         .btn-grad {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
         .btn-grad {
            margin: 30px 0 30px 0;
            padding: 25px 55px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: #fff;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            width: 20rem;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
      


         .btn-grad2 {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
         .btn-grad2 {
            margin: auto;
            padding: 15px 45px;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: #fff;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            width: 20rem;
          }

          .btn-grad2:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

                  .btn-grad3 {background-image: linear-gradient(to right, #99bbff 0%, #12D8FA  51%, #1FA2FF  100%)}
         .btn-grad3 {
            margin: auto;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: #fff;            
            border-radius: 10px;
            display: block;
            width: 15rem;
          }

          .btn-grad3:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         .connect1 {
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-gap: 0 50px;
           margin-top: 4rem;
           max-width: 80%;
           padding: 0 4rem 2rem 0rem
         }

         .logout {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
         }
        .connect1_Yellow {
        	font-size: 20px;
        	color:  #FBBB19;
        }
        .connect1_White {
        	color: #fff;
        	font-size: 20px;
        }
        .who_are_we {
          text-align: center;
          color: #FBBB19;
          font-size: 55px;

        }
        .who_are_we p {
              font-size: 25px;
        }

        .intro {
       font-size: 20px;
        }
        .intro span {
          color: #4dc3ff;
        }

    .trait::before {
  content: "−";
  color: #FBBB19;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-right: -15px; 
}

.services {
  display: flex;
 justify-content: space-around;
}